$primary:  rgb(21, 47, 196);

// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

a {
    color: rgb(21, 47, 196);
    font-size: 24px;
    text-decoration: none;
      cursor: pointer;
    &:hover, &:active {
      color: rgb(0, 0, 0);
    }
  }